html
{
	height: 95%;
}
body
{
  background: #FFF;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  font-weight: normal;
  line-height: 160%;
  /* text-align: justify; */
  height: 95%;
}
a
{
	text-decoration: none;
	color: blue;
}
h1
{
  font-size: 120%;
  margin-top: 4px;
  margin-bottom: 4px;
}
h2
{
  font-size: 100%;
  margin-top: 4px;
  margin-bottom: 2px;
}
h3
{
  font-size: 100%;
  margin-top: 2px;
  margin-bottom: 1px;
}
.cuadro_clic
{
	border: 1px solid #ddd;
	padding: 4px;
	margin-right: 8px;
	margin-bottom: 8px;
	text-align: center;
	width: 60px;
	font-size: 80%;
	color: #666;
	float: left;
	cursor: pointer;
}
#main
{
	width: 79%;
	float: left;
	padding-right: 1%;
}
#bloque_derecha
{
	width: 20%;
	float: right;
}
#ing_disponibles
{
	width: 50%;
	float: left;
}
#ing_indicados
{
	width: 50%;
	float: right;
}
#mensajes
{
	height: 20px;
	text-align: center;
	color: #aaa;
}
.separador
{
	clear: both;	
}
.a_la_izquierda
{
	float: left;
}
.a_la_derecha
{
	float: right;
}
.error
{
	color: red;
}
.texto_a_la_derecha
{
	text-align: right;
}
.texto_centrado
{
	text-align: center;
}
hr
{
	border: 1px dotted #D8D8D8;
}
#fondo_oscuro
{
	display: none;
	width: 100%;
	z-index: 100;
	height: 100%;
	background-color: black;
	opacity: .5;
	filter: alpha(opacity=50);
	position: fixed;
	left: 0;
	top: 0;
}
#popup_fondo
{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 101;
}
#popup_cont
{
	display: table-cell;
	position: static;
	text-align: center;
	vertical-align: middle;
}
#popup
{
	margin: 0 auto;
	position: relative;
	background-color: white; 
	width: 640px; 
	height: 480px;
	padding: 12px;
}
#contenido_popup
{
	overflow: auto;
}
.cargando
{
	opacity: .4;
	filter: alpha(opacity=40);
}
.no_info_nutri
{
	color: #AAA;
}
.gris
{
	color: #AAA;
}
.invisible
{
	display: none;
}
.fuenteMini
{
	font-size: 90%;
	line-height: 120% !important;
}
#contenido
{
	float: right;
	width: 84%;
	margin-top: 40px;
	min-height: 93%;
	height: auto !important;
	height: 93%;
}
#menu
{
	float: left;
	width: 15%;
	margin-top: 40px;
	position: fixed;
}
#recetas_publico
{
	width: 100%;
}
.amigo
{
	/*
	padding: 1%;
	margin: 1%;
	*/
}
#top
{
	background-color: black;
	padding: 2px;
	display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    height: 30px;
}
.logo
{
	padding-top: 8px;
	font-size: 160%;
}
.texto_buscador
{
	background:#FFFFFF url(../res/img/web/search-button.png) no-repeat 2px 2px;
	padding-left: 22px !important;
}
input[type="text"], input[type="password"]
{
	padding: 4px 4px 4px 4px;
	border: 1px solid #CCC;
	height: 19px;
}
select
{
	padding: 4px 4px 4px 4px;
	border: 1px solid #CCC;
}
textarea
{
	padding: 4px 4px 4px 4px;
	border: 1px solid #CCC;
	font-size: 90%;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
img
{
	border: 0px;
}
.boton
{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #dfdfdf;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 90%;
	font-weight: bold;
	padding: 4px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	text-align: center;
	margin-bottom: 1%;
}
.boton:hover
{
	background-color:#ededed;
}
.boton:active
{
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
.eliminar
{
	color: #AA0000 !important;
}
.boton_menu
{
	-moz-box-shadow:inset 0px 1px 0px 0px #fff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff;
	box-shadow:inset 0px 1px 0px 0px #fff;
	background-color:#ededed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #fff;
	width: 80%;
	margin-bottom: 4px;
}
.boton_menu:hover
{
	background-color:#dfdfdf;
}
.boton_menu:active
{
	position:relative;
	top:1px;
}
.fila
{
	padding: 1%;
}
.fila:hover
{
	background-color: #fcf4c5;
}
.boton_mini
{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #dfdfdf;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666;
	font-family: arial;
	font-size: 80%;
	font-weight: bold;
	padding: 0px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	text-align: center;
	width: 40px;
}
.boton_mini:hover
{
	background-color:#ededed;
}
.boton_mini:active
{
	position:relative;
	top:1px;
}
.fondo_blanco
{
	/* background-color: white;
	opacity: 0.6;
	filter: alpha(opacity=60); */
	width: 100%;
	background: url(../res/img/web/pixel-blanco.png) top left repeat;
}
.contenido_fondo
{
	padding: 4%;
	width: 92%;
	/* opacity: 1 !important;
	filter: alpha(opacity=100) !important; */
}
.body_publico
{
	margin: 0px;
}
.fondo_publico
{
	z-index: 1;
	/*
	opacity: 0.3;
	filter: alpha(opacity=30);
	*/
	position: absolute; 
	background: url(../res/img/web/fondo2.jpg) top left repeat; 
	width: 100%; 
	height: 100%;
}
.contenedor_publico
{
	padding-top: 10%;
	z-index: 2;
	position: absolute;
	width: 100%;
}
#pie
{
	clear: both;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

.negro
{
	color: black;
}